.header {
    background: rgb(247, 154, 131);
    width: 100%;
    height: 110px;
    border-width: 1px;
    border-color: #fff;
}

body {
    margin: 0;
    font-family: "Korolev";

}

.logo {
    width: 28%;

}

.logo-img {
    margin-top: 20px;
    margin-left: 30px;
    width: 20%;
    height: auto;
    float: left;
}

.nav-bar {
    font-weight: 500;
    font-size: 22px;
    padding: 8px;
}

.nav-bar a {
    color: #fff;
    /* Change to your desired color (white in this case) */
    text-decoration: none;
    /* Optional: Remove underline */
}

.products {

    float: left;
    margin-left: 700px;
    margin-right: 40px;
}

.recipes {
    float: left;
    margin-right: 40px;
}

.stores {
    float: left;
    margin-right: 30px;

}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 35px;
}

.social-media {
    padding-top: 8px;
    padding-right: 30px;
    cursor: pointer;
    float: left;
}

.no-bullets img {
    width: 30px;
    height: 30px;

}

.banner1 img {
    width: 100%;
}

.text-banner-h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 74px;
    margin-bottom: 32px;
}


.text-banner1 {
    position: absolute;
    top: 44%;
    left: 8%;
    color: white;
}

.button-banner {

    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 29px;
    font-size: 0.9rem;
    color: #ffff;
    cursor: pointer;
    text-decoration: none;
}

.banner2 img {
    width: 100%;
}

.box-banner2 {
    width: 45%;
    height: 20%;
    margin: auto;
    background-color: rgba(10, 91, 43, 0.8);
    border-radius: 100px;
    padding: 10px 0 43px 0;
    position: absolute;
    top: 158%;
    left: 28%;

}

.text-banner2 {
    position: relative;
    margin-top: 4px;
    margin-left: 20px;
    color: white;
    place-items: center;
}
.text-banner2 h1{
    font-size: 36px;
    font-weight:500;
    line-height:39.6px;
    margin: 0;
}

.banner3 img {
    width: 100%;
}

.text-banner3 {
    position: relative;
    margin-top: 4px;
    margin-left: 20px;
    color: white;
    place-items: center;
}

.box-banner3 {
    width: 45%;
    height: 20%;
    margin: auto;
    background-color: rgba(10, 91, 43, 0.8);
    border-radius: 100px;
    padding: 10px 0 43px 0;
    position: absolute;
    top: 255%;
    left: 28%;

}
.text-banner3 h1{
    font-size: 36px;
    font-weight:500;
    line-height:39.6px;
    margin: 0;
}

.footer {
    background: #3e3e3e;
    width: 100%;
    height: 110px;
    padding-left: 200px;
    padding-top: 5px;
    padding-bottom: 0;
    font-size: 15px;
    white-space: normal;

}

.footer a {
    color: #fff;
    text-decoration: none;
    /* Optional: Remove underline */
    cursor: pointer;
    padding-right: 30px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-para {
    color: #fff;
    margin-left: 250px;
    margin-top: 0px;
}